* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: #f9f9f9;
    text-transform: capitalize;
}

.logo {
    margin-left: 10px;
}

.nav-data {
    display: flex;
    align-items: center;
    
    /* this is important section for do list appearance in mobile apps */
    position: relative;

}

.nav-data ul {
    display: flex;
    list-style: none;
    transition: all 0.3s ease;
}

.nav-data ul li {
    margin: 5px;
    padding: 5px 10px;
}

.header .nav-data i {
    margin-right: 10px;
}

@media (min-width:768px) {
    .header .nav-data i {
        display: none;
    }
}

@media (max-width:767px) {
    .header .nav-data {
        cursor: pointer;
    }

    .header .nav-data ul {
        display: none;
    }
    
    .header .nav-data i:hover + ul {
        display: flex;
        /* this is what you need ! */
        flex-direction: column;
        
        position: absolute;
        
        top: 100%;
        right: 10px;
        
        font-size: 14px;
        background-color: #ccc;
        width: 100px;

    }
    .header .nav-data i:hover + ul li {
        color: #333;
    }

    .header .nav-data i:hover + ul li:not(:last-of-type){
        border-bottom: 1px solid #eee;
    }
}